.button {
  cursor: pointer;
}
.btn {
  &.btn-primary {
    background-color: $primary-indigo;
    border-color: $primary-indigo;
  }
  &.btn-default {
    color: $t-gray;
  }
}
.list-style-disc {
  list-style: disc;
  -webkit-padding-start: 25px;
}

.list-style-decimal {
  list-style: decimal;
  -webkit-padding-start: 25px;
}
